<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark navigation">
    <div class="navbar navbar-expand navbar-dark bg-dark">
      <a href="" class="navbar-brand">jAWS</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link">TODO-LIST</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>
      </div>
    </div>
    <div class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="config.storeConfig.inSystem">
          <a class="navbar-brand">{{config.storeConfig.userName}}'s-TODO-LIST</a>
        </li>
        <li class="nav-item" *ngIf="!config.storeConfig.inSystem">
          <a class="navbar-brand">Want to get access to all ToDo-App features? Just login or create a new Account ➤</a>
        </li>
      </div>
    </div>
    <div>
      <!-- <button type="button" (click)="logOut()" class="btn btn-light" *ngIf="config.storeConfig.inSystem"> -->
      <button type="button" class="btn btn-light" *ngIf="config.storeConfig.inSystem" (click)="logOut()">
        Sign Out
      </button>
      <button type="button" class="btn btn-light" *ngIf="!config.storeConfig.inSystem">
        <a routerLink="auth/login" class="nav-link">Log In</a>
      </button>"
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
