<div>
    <div class="submit-form">
        <!-- <div *ngIf="!config.storeConfig.inSystem"> -->
            <h1 class="h3 mb-3 fw-normal">
                Create new Account to use our App even better!
            </h1>
            <ul>
                <li>save your data</li>
                <li>customer support 24/7</li>
            </ul>
            <div class="form-group">
                <label for="floatinName">User name</label>
                <input type="name" class="form-control" id="floatinName" required [(ngModel)]="user.name" />
            </div>
        
            <div class="form-group">
                <label for="floatingPassword">Email</label>
                <input type="email" class="form-control" id="floatingEmail" required [(ngModel)]="user.email" />
            </div>

            <div class="form-group">
                <label for="floatingPassword">Password</label>
                <input type="password" class="form-control" id="floatingPassword" required [(ngModel)]="user.password" />
            </div>
        
            <button (click)="submitRegister()" class="btn btn-success">
                Registration
            </button>
        <!-- </div> -->

        <!-- <div *ngIf="config.storeConfig.inSystem"> -->
            <h4>Account created!</h4>
            <button class="btn btn-success">
                <a routerLink="/tutorials" class="nav-link">TODO-LIST</a>
            </button>
        <!-- </div> -->
        
        <!-- <div *ngIf="(loginStatus !== 4)&&(loginStatus !== null)"> -->
            <h4>This user exists!</h4>
        <!-- </div> -->
    </div>
</div>