<div>
    <div class="submit-form">
        <div *ngIf="!config.storeConfig.inSystem">
            <h1 class="h3 mb-3 fw-normal">Please login</h1>

            <div class="form-group">
                <label for="floatinName">User name</label>
                <input type="name" class="form-control" id="floatinName" required [(ngModel)]="user.name"/>
            </div>
        
            <div class="form-group">
                <label for="floatingPassword">Password</label>
                <input type="password" class="form-control" id="floatingPassword" required [(ngModel)]="user.password"/>
            </div>

            <button (click)="submitLogin()" class="btn btn-success">
                Login
            </button>

            <button type="button" class="btn btn-light">
                <a routerLink="/auth/registration" class="nav-link">registration</a>
            </button>
        </div>

        <div *ngIf="config.storeConfig.inSystem">
            <h4>You was logined successfully!</h4>
            <button class="btn btn-success">
                <a routerLink="/tutorials" class="nav-link">TODO-LIST</a>
            </button>
        </div>

        <div *ngIf="(loginStatus !== 4)&&(loginStatus !== null)">
            <h4>Error auntefication</h4>
        </div>
    </div>
</div>